<div style = 'display:none'>
    <div>you are in room</div>
    <div id = 'room_id'><%= @room.room_id %></div>
    <div>your id</div>
    <div id = 'user_id'><%= @current_user.user_id %></div>
</div>

<div class = 'chat'>
    <div>
        <div id = 'messages'>
            <% @messages.each do |message| %>
                <% if message.user_id.to_i == @current_user.id %>
                    <div class = 'message'>
                        <div style = 'font-size:14px'><%= message.name %></div>
                        <div><%= message.text %></div>
                    </div>
                <% else %>
                    <div class = 'message-other'>
                        <div style = 'font-size:14px'><%= message.name %></div>
                        <div><%= message.text %></div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class = 'input'>
        <input type = 'text' id = 'text' class = 'input-message' placeholder = 'message'>
        <input type = button 
                onclick = "App.room.speak(txt = document.getElementById('text').value,
                                            room = document.getElementById('room_id').textContent,
                                            user = document.getElementById('user_id').textContent)" 
                value = 'send'
                class = 'send-button'>
    </div>
</div>
