
<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class = 'notice'><%= notice %></p>
    <p class = 'alert'><%= alert %></p>

    <% if user_signed_in? %>

      <div class = 'nav-bar'>
        <a href = <%= '/' %>>Home</a> | 
        <%= link_to "Settings", edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        Logged in as <strong><%= current_user.name %></strong>.
      </div>
      
      <div class = 'roomMenu'>
        <% @rooms.each do |room| %>
            <% if room.room_id == @room.room_id %>
              <div class = 'selected-room'>
                <%= room.room_name %>
              </div>
            <% else %>
              <div class = 'non-selected-room'>
                <a href = <%= '/room/' + room.room_id %>><%= room.room_name %></a>
              </div>
            <% end %>
        <% end %>
        <a href = '/add' class = 'addRoomButton'>Add New Room</a>
      </div>
    <% end %>

    

    <%= yield %>
  </body>
</html>