<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class = 'notice'><%= notice %></p>
    <p class = 'alert'><%= alert %></p>

    <%= yield %>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.name %></strong>.
      <%= link_to "Settings", edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>

      <% @rooms.each do |room| %>
          <% if room.room_id == @room_id %>
            <h2><%= room.room_name %> <%= room.room_id %></h2>
          <% else %>
            <p><%= room.room_name %> <%= room.room_id %></p>
          <% end %>
      <% end %>
    <% end %>


  </body>
</html>